body {
  background-color: #f9f9f9;
  height: 100%;
  margin: 25px;
}

.greeting {
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.welcome {
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome-left {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: flex-end;
}

.welcome-text {
  width: 100%;
  margin: 0px;
  font-size: 20px;
  text-align: left;
  color: #0068ff;
}

.logo {
  height: 100%;
}

h1 {
  margin: 5px 0px 2px 0px;
  font-size: 30px;
  text-align: left;
}

h2,
th,
td,
p {
  color: #121212;
}

h2 {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  margin: 5px;
}

.goals,
.demographics {
  display: flex;
  justify-content: space-around;
}

.demographics {
  border-top: #121212 1px solid;
  border-bottom: #121212 1px solid;
  margin-bottom: 25px;
  padding: 5px;
}

.demographics p {
  margin: 3px;
}

.week-info,
.day-info {
  margin: 5px;
  padding: 12px;
}

form,
.single,
.double,
.motivation-quote,
.week-info,
.day-info,
.goals {
  box-shadow: 0 4px 8px 0 rgba(36, 36, 36, 0.2), 0 6px 20px 0 rgba(36, 36, 36, 0.19);
}

.summary-widget {
  height: 195px;
  margin-bottom: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  padding: 10px;
  color: #121212;
  display: flex;
  flex-direction: column;
  width: 31%;
  background-color: #f9f9f9;
}

legend {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 1px;
  color: #121212;
  font-size: 20px;
  font-weight: 600;
}

fieldset {
  border: none;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.input-row {
  align-self: center;
  width: 75%;
}

.date-label {
  padding-left: 25px;
  margin-left: 40px;
}



input[type=text],
input[type=number] {
  width: 95px;
  margin-left: 15px;
  margin-top: 10px;
}

input[type=number]:focus,
input[type=text]:focus,
input[type=number]:hover,
input[type=text]:hover {
  cursor: pointer;
  border: #0068ff 2px solid;
}

input[type=radio]:focus,
input[type=radio]:hover {
  border: #0068ff 3px solid;
}

.form-feedback {
  font-size: 15px;
  margin: 3px;
  font-weight: 600;
  align-self: center;
  color: #0068ff;
}

input[type=submit] {
  border: 2px #0068ff solid;
  width: 30%;
  height: 30px;
  align-self: center;
  margin-bottom: 3px;
  color: #0068ff;
  background-color: #f9f9f9;
}

input[type=submit]:hover,
input[type=submit]:focus {
  cursor: pointer;
  color: #f9f9f9;
  background-color: #0068ff;
}

.ounces-submit {
  margin-top: 15px;
}

.motivation-submit {
  margin-top: 8px;
}

.goals {
  width: 31%;
  background-color: #f9f9f9;
}

.radio-label {
  font-size: 15px;
}

input[type=radio] {
  margin-left: 30px;
  cursor: pointer;
}

.goals {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.goals p {
  margin: 0px;
  align-self: center;
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.motivation-quote {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: black;
}

.motivation-quote p {
  width: 100%;
  padding: 1px;
  color: #f9f9f9cb;
  text-align: center;
}

.dashboard-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.week-info,
.day-info {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-info {
  width: 125px;
  height: 125px;
}

.day-info p {
  color: #0068ff;
  width: 100%;
  margin: 1px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.week-info {
  width: 495px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 450px;
  height: 80px;
  border-collapse: collapse;
  border: #121212 1px solid;
}

th {
  color: #e2e1e1;
  background-color: #0068ff;
  border-bottom: #121212 1px solid;
  font-weight: 400;
  text-align: center;
}

td {
  text-align: center;
}

.single,
.double{
  margin: 5px;
  height: 150px;
  border: #121212 2px solid;
}

.double {
  width: 335px;
}

.single {
  width: 150px;
}

.hidden {
  display: none;
}