body {
  background-color: #f1f1f1;
  height: 100%;
  margin: 25px;
}

h2,
th,
td,
p {
  color: #121212;
}

h2 {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  margin: 5px;
}

.welcome-text {
  width: 100%;
  text-align: left;
  font-size: 25px;
  font-weight: 600;
}

.goals,
.demographics {
  display: flex;
  justify-content: space-around;
}

.demographics {
  border-top: #121212 1px solid;
  border-bottom: #121212 1px solid;
  padding: 5px;
}

.demographics p {
  margin: 3px;
}

.week-info,
.day-info {
  margin: 5px;
  padding: 12px;
}

.ounces-form,
.motivation,
.motivation-quote,
.week-info,
.day-info,
.goals {
  box-shadow: 0 4px 8px 0 rgba(36, 36, 36, 0.2), 0 6px 20px 0 rgba(36, 36, 36, 0.19);
}

.general-information {
  height: 170px;
  margin-bottom: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ounces-form {
  width: 31%;
  padding: 10px;
  background-color: #0068ff;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ounces-form-title {
  width: 100%;
  margin: 0px;
  color: #f9f9f9;
  font-size: 15px;
  font-weight: 600;
}

.input-row {
  margin: 5px;
  align-self: center;
  width: 75%;
}


input[type=text],
input[type=number] {
  width: 95px;
  margin-left: 15px;
  margin-top: 10px;
}

input[type=text] {
  background-color: #0068ff;
  border: none;
  color: white;
}

input[type=text]:hover {
  cursor: pointer;
}

.form-feedback {
  font-size: 15px;
  margin: 3px;
  font-weight: 600;
  align-self: center;
}

input[type=submit] {
  border: red 1px solid;
  width: 30%;
  height: 30px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 3px;
  color: #0068ff;
  border: none;
  background-color: #f9f9f9;
}

input[type=submit]:hover {
  cursor: pointer;
}

.goals {
  width: 31%;
  height: 150px;
  padding: 0px;
  margin: 0px;
  background-color: #0068ff;
  display: flex;
  flex-direction: column;
}

.goals p {
  align-self: center;
  color: #f9f9f9;
}

.motivation {
  border: purple 1px solid;
  width: 31%;
  height: 150px;
  background-color: #0068ff;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.motivation-quote {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: black;
}

.motivation-quote p {
  width: 100%;
  padding: 1px;
  color: #f9f9f9cb;
  text-align: center;
}

.dashboard-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.week-info,
.day-info {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-info {
  width: 125px;
  height: 125px;
}

.day-info p {
  color: #0068ff;
  width: 100%;
  margin: 1px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.week-info {
  width: 495px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 450px;
  height: 80px;
  border-collapse: collapse;
  border: #121212 1px solid;
}

th {
  color: #e2e1e1;
  background-color: #0068ff;
  border-bottom: #121212 1px solid;
  font-weight: 400;
  text-align: center;
}

td {
  text-align: center;
}

.double {
  margin: 5px;
  height: 150px;
  width: 335px;
  border: #121212 2px solid;
}

.single {
  margin: 5px;
  height: 150px;
  width: 150px;
  border: #121212 2px solid;
}

.hidden {
  display: none;
}